.btn {
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 900;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $white;
  padding: 1rem;

  &--search {
    background: $red;
    border-radius: 0;
    height: 4rem;
    padding: 1rem 2rem;

    transition: all 200ms ease-in;

    &:hover {
      background-color: lighten($red, 15%);
      transition: all 200ms ease-in;
    }
  }

  &--buy {
    width: 100%;
    border-radius: 0.6rem;
    background: $green;
    font-size: 2rem;

    transition: all 200ms ease-in;

    &:hover {
      background-color: lighten($green, 15%);
      transition: all 200ms ease-in;
    }
  }

  &--home {
    width: auto;
    min-width: 15rem;
    font-size: 2rem;
    margin: 0 2rem;
    background-color: $red;

    transition: all 200ms ease-in;

    animation: show 400ms ease-in forwards;

    &:hover {
      background-color: lighten($red, 15%);
      transition: all 200ms ease-in;
    }

    @media (max-width: 570px) {
      margin-bottom: 4rem;
    }
  }
}