.home {
  width: 100%;
  margin-top: 10rem;

  @include column(center, center);

  &__title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: $black;
    margin-bottom: 4rem;
  }

  &__controls {
    @include row(center, center);

    @media (max-width: 570px) {
      @include column(center, center);  
    }
  }
}