* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}

html {
  font-size: $font-size;
}

body {
  font-size: 1.6rem;
  font-family: $font-family;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  @include row(center, center);
}

hr {
  border-color: #fff;
}

.top {
  min-height: calc(100vh - 200px);
}

.loading {
  @include row(center, center);
  width: 100%;
  margin-top: 20vh;
}

.wrapper {
  width: 100%;

  &--top {
    height: 3rem;
    background-color: $black;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;

  &--end {
    @include row(flex-end, center);
    height: 100%;
    color: $white;
    font-size: 1.4rem;
    font-weight: 600;

    a {
      text-decoration: underline;
    }

    @media (max-width: 570px) {
      justify-content: center;
    }
  }

  &--row {
    @include row(space-between, center);
    height: 100%;
  }

  &--content {
    @include row(space-between, flex-start);

    @media (max-width: 570px) {
      @include column(space-between, center);
    }
  }

  .icon-mobile {
    display: none;

    @media (max-width: 570px) {
      display: block;
    }
  }
}

