@mixin row($value1, $value2) {
  display: flex;
  flex-direction: row;
  justify-content: $value1;
  align-items: $value2;
}

@mixin column($value1, $value2) {
  display: flex;
  flex-direction: column;
  justify-content: $value1;
  align-items: $value2;
}

@mixin box-shadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
