.navbar {
  height: 5rem;
  background-color: $red;
  @include row(flex-start, center);

  &__links{
    @include row(space-between, center);
    max-width: 680px;
  }

  &__link {
    color: $white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
  }

  &__icon {
    display: none;
  }

  @media (max-width: 570px) {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100vh;
    width: 60vw;
    background-color: transparentize($red, 0.025);
    @include box-shadow();
    transform: translateX(-60vw);

    transition: all 200ms ease-in;
    
    &__links {
      @include column(flex-start, flex-start);
      height: 100vh;
      margin-top: 3rem;
    }

    &__link {
      margin: 2rem 0;
    }

    &__icon {
      cursor: pointer;
      display: block;
      margin-bottom: 4rem;
    }

    &--active {
      transform: translateX(0vw);
      transition: all 200ms ease-in;
    }
  }
}