.product {
  width: 100%;
  height: 100%;
  min-height: 340px;
  text-align: center;
  @include column(space-between, center);

  animation: show 400ms ease-in forwards;

  &__img {
    position: relative;
    border: 1px solid $grey;
    border-radius: 0;
    width: 100%;
    height: 60%;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    
    & > img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; 
      width: 100%; 
      height: 100%; 
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    font-weight: 300;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__price {
    font-weight: 900;
    color: $red;
    width: 100%;
    @include row(center, center);
    font-size: 2.2rem;

    &--inactive {
      font-size: 1.4rem;
      font-weight: 400;
      color: $grey;
      text-decoration: line-through;
      margin-right: 1rem;
    }
  }
}