.path {
  margin: 2rem auto;
  font-size: 1.4rem;
  cursor: pointer;

  &--active {
    color: $red;
  }
}

.grid {
  width: 100%;
  display: grid;
  gap: 3rem;
  margin-bottom: 4rem;

  @media (min-width: 375px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}

.products {
  margin-left: 2.4rem;
  width: 100%;

  &__title {
    font-size: 3rem;
    color: $red;
  }

  &__controls {
    @include row(flex-end, center);

    &__sort {
      & > span {
        text-transform: uppercase;
        color: darken($grey, 20%);
        font-size: 1rem;
        font-weight: 600;
      }

      & > select {
        background-color: $white;
        outline: none;
        border: 1px solid $grey;
        border-radius: 0.6rem;
        width: 200px;
        padding: 0.4rem 0.8rem;

      }
    }
  }

  @media (max-width: 570px) {
    margin: 0;
  }
}