.search {
  height: 11rem;

  &__bar {
    width: 100%;
    @include row(flex-end, center);

    @media (max-width: 570px) {
      display: none;
      position: fixed;
      left: 0;
      top: 30%;
      z-index: 20;
      width: 100%;

      &::before {
        content: '';
        position: fixed;
        z-index: -10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
      }

      &--active {
        display: flex;
      }
    }
  }

  &__img {
    width: 190px;
    margin-right: 2rem;

    @media (max-width: 570px) {
      margin: 0;
    }

    & > img {
      width: 100%;
    }
  }
}
