.filter-options {
  @include column(flex-start, flex-start);
  width: 300px;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 0;
  padding: 2rem;

  @media (max-width: 570px) {
    width: 100%;
  }

  &__title {
    font-size: 2.6rem;
    font-weight: 600;
    color: $red;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
  }

  &__type {
    font-size: 1.8rem;
    font-weight: 600;
    color: $dark-green;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
  }

  &__list {
    @include column(flex-start, flex-start);
    margin-bottom: 1rem;
  }

  &__item {
    cursor: pointer;
    list-style: disc;
    font-weight: 200;
    font-size: 1.6rem;
    color: $black;
    margin-left: 2rem;
    margin-bottom: 1rem;

    &--active {
      color: $green;
    }
  }

  &__clear {
    cursor: pointer;
    color: $red;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}
