@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

$red: #cc0c1f;
$black: #242020;
$green: #80beb8;
$dark-green: #628f8d;
$grey: #cccccc;
$white: #ffffff;

$font-family: 'Open Sans', sans-serif;
$font-size: 10px;
